<form action="{% url addTest %}" method="post"> {% csrf_token %} 
<p><label for="id_name">Test Name:</label>
<input id="id_name" type="text" name="name" maxlength="100" /></p> 
<p><label for="id_iterations">Number of iterations:</label>
<input type="text" name="iterations" id="id_iterations" /></p> 
<p><label for="id_body">Function:</label></p>
<textarea cols="40" rows="20" name="body" id="id_body"></textarea>
<br><input type="submit" value="Submit" />
</form>

<br><a href="{% url showTestList %}"> Test list </a>
